/* You can add global styles to this file, and also import other style files */
* {
    padding: 0px;
    margin: 0px;
    /*font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;*/
    font-family: "Poppins", sans-serif;
}
@media only screen and (max-width: 768px) {
    body{
        max-width: 79%;
        overflow-x: hidden;
    }
}
    