.gifs {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 1000px;
    margin: 0 auto;
    align-items: center;
    justify-items: center;
}
.gif img {
    max-width: 250px;
    border-radius: 20px;
    padding: 4px;
}

@media only screen and (max-width: 768px) {
    .gifs{
        grid-template-columns: auto auto;
        width: 100%;
    }
    .gif img {
        width: 90%;
    }
  }